body{
    display: grid;
}
#navbar{
    display: grid;
    width: 100%;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 200px;
    align-items: center;
}
#navbar-left{
    justify-items: start;
}
#navbar-right{
    justify-items: end;
}
#darbs{
    border-radius: 50%;
    width: 35px;
   height: 35px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;

}
#logo-searchbox{ 
    display: grid;
    min-width: auto;
    max-width: fit-content;
    justify-self: center;
    align-content: center;
    justify-items: center;
}
#logo{
  justify-self: center;
  margin-top: 200px;
  margin-bottom: 25px;
}
#search{
    height: 40px;
    width: 575px;
    justify-content: center;
    border-radius: 50px;
}
li{
    font-size: smaller;
    font-weight:lighter;
    float: left;
    display: block;
    padding: 8px;
}
footer{
    display: grid;
    margin-top: 20%;
    background-color: rgba(211, 211, 211, 0.493);
    width: 100%;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 200px;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.right{
    justify-items: end;
    max-width: 200px;
}
.left{
    justify-items: start;
    max-width: 400px;
}





