body{
    display: grid;
    justify-content: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;

}
#logo-searchbox{ display: grid;
    min-width: auto;
    max-width: 400px;
    grid-template-rows: auto;
    justify-content: center;
}
#logo{
  justify-self: center;
}
#search{
    width: 500px;
    justify-content: center;
    border-radius: 8px;
}
li{
    font-size: smaller;
    font-weight:lighter;
    float: left;
}

#bottom-nav{


}



